html {
    color: #ede5e5;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
main{
    font-family: sans-serif;
    font-size: 24px;

}
h2#titulo-primeira-aula{
    text-decoration: line-through;
}
h2{
    text-align: center;
}
main{
  display: block;
}
p{
text-transform: uppercase;
}