html{
    color: #ff000f;
    background-color: #000;
    background-image: url("./ntfy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
main{
    font-family: sans-serif;
    font-size: 24px;

}